.profile {
  width: 500px;
  height: 500px;
  float: left;
  text-align: center;
  padding: 30px;
  margin-left: 20px;
  border: 4px solid purple;
}

.profile#dog{
  background-color: pink;
}
.profile#cat {

  background-color: green;
}
.profile#goat {

  background-color: orange;
  float:left;
}

.profile#parrot {
  background-color: skyblue;
}

img.pic {
  width: 250px;
  float: center;
}

p {
  font-style: italic;
  float: bottom;
}

.profile h2 {
  font-style: oblique;
}

.come_quick {
  position: absolute
  bottom: 120px;
}
